{% load compress translator i18n %}<!DOCTYPE html>
<html lang="{{ LANG_CODE }}">
	<head>
		<title>Google Hangout App</title>
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		
		{% if DEBUG %}
			<script src="{{ STATIC_URL }}js/libs/hangup_client.js"></script>
		{% else %}
			<!-- For devloper sandbox use this script -->
			<script src="//hangoutsapi.talkgadget.google.com/hangouts/_/api/hangout.js?v=1.1"></script>
			
			<!-- For a release deploy switch to this script
			<script src="//talkgadget.google.com/hangouts/_/api/hangout.js?v=1.1"></script> 
			-->
		{% endif %}
	</head>
	<body>
		<!-- Your Hangout app markup here -->
	</body>
</html>
